body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    text-align: center;
}

.logo {
    width: 300px;
    margin-bottom: 50px;
}

.buttons {
    margin-bottom: 30px;
}

.btn, .contact-btn {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #ff00ff;
    border-radius: 5px;
    background: black;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.btn::before, .contact-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: #ff00ff;
    transition: all 0.4s ease-in-out;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 0;
}

.btn:hover::before, .contact-btn:hover::before {
    width: 0;
    height: 0;
}

.btn, .contact-btn {
    z-index: 1;
}

.contact-btn {
    padding: 15px 40px;
}

.contact-btn::before {
    background: #ff69b4;
}

audio {
    margin-top: 20px;
    width: 300px;
}
